@model med_service.ViewModels.AppointmentViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
			<h3>@Localizer["lblConfirmationQuestion"]</h3>
        </div>
        <div class="modal-body">
			<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
				@Html.AntiForgeryToken()

                <dl class="row">
                    <dt class="col-sm-4">@Localizer["lblStatus"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>

                    <dt class="col-sm-4">@Localizer["lblPatient"]</dt>
                    <dd class="col-sm-8">@Model.PatientName</dd>

                    <dt class="col-sm-4">@Localizer["lblDoctor"]</dt>
                    <dd class="col-sm-8">@Model.DoctorName</dd>

                    <dt class="col-sm-4">@Localizer["lblNotes"]</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Notes)</dd>

                    <dt class="col-sm-4">@Localizer["lblTimeSlot"]</dt>
                    <dd class="col-sm-8">
                        @Model.TimeSlot?.StartTime.ToString("hh\\:mm") - @Model.TimeSlot?.EndTime.ToString("hh\\:mm")
                    </dd>
                </dl>
                <div class="modal-footer d-flex justify-content-center">
				    <button type="submit" class="btn btn-danger">@Localizer["lblDeleteButton"]</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["lblCancelButton"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
