@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model med_service.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = Localizer["lblDelete"];
}

<h1>@Localizer["lblDelete"]</h1>

<h3>@Localizer["lblConfirmationQuestion"]</h3>
<div>
    <h4>@Localizer["lblAppointment"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Localizer["lblStatus"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

        <dt class="col-sm-2">@Localizer["lblPatient"]</dt>
        <dd class="col-sm-10">@Model.PatientName</dd>

        <dt class="col-sm-2">@Localizer["lblDoctor"]</dt>
        <dd class="col-sm-10">@Model.DoctorName</dd>

        <dt class="col-sm-2">@Localizer["lblNotes"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Notes)</dd>

        <dt class="col-sm-2">@Localizer["lblTimeSlot"]</dt>
        <dd class="col-sm-10">
            @Model.TimeSlot?.StartTime.ToString("hh\\:mm") - @Model.TimeSlot?.EndTime.ToString("hh\\:mm")
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">@Localizer["lblDeleteButton"]</button>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["lblCancelButton"]</a>
    </form>
</div>
