@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<med_service.ViewModels.AppointmentViewModel>

@{
    ViewData["Title"] = Localizer["lblAppointments"];
}

<h1>@Localizer["lblAppointments"]</h1>

<p>
    @* <a asp-action="Create" class="btn btn-primary">@Localizer["lblCreateNew"]</a> *@
    <button class="btn btn-info" onclick="addEntity('Appointments')">@Localizer["lblCreateNew"]</button>
</p>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="@Localizer["lblSearchText"]" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">@Localizer["lblSearchButton"]</button>
            <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["lblClearButton"]</a>
        </div>
    </div>
</form>

<form method="get">
    <label for="status">@Localizer["lblFilterBy"]</label>
    <select name="status" id="status">
        <option value="">@Localizer["lblFilterAll"]</option>
        @foreach (var status in ViewBag.Statuses)
        {
            <option value="@status" selected="@(status.ToString() == Context.Request.Query["status"] ? "selected" : null)">
                @status
            </option>
        }
    </select>
    <button type="submit">@Localizer["lblFilterButton"]</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["lblStatus"]</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
					@Localizer["lblPatient"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
					@Localizer["lblDoctor"]
                </a>
            </th>
            <th>@Localizer["lblNotes"]</th>
            <th>@Localizer["lblActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.PatientName</td> <!-- Display Patient's Full Name -->
                <td>@item.DoctorName</td>  <!-- Display Doctor's Full Name -->
                <td>@item.Notes</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@Localizer["lblEdit"]</a> *@
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">@Localizer["lblDetails"]</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@Localizer["lblDelete"]</a> *@
                    <button class="btn btn-sm btn-warning" onclick="showEdit('Appointments', @item.Id)">@Localizer["lblEdit"]</button>

                    <button class="btn btn-info" onclick="showDetails('Appointments', @item.Id)">@Localizer["lblDetails"]</button>

                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('Appointments', @item.Id)">@Localizer["lblDelete"]</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", (med_service.ViewModels.PaginationViewModel)ViewBag.PaginationInfo)
