@model med_service.ViewModels.ScheduleViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblDeleteTitle"];
}

<h1>@Localizer["lblDeleteTitle"]</h1>

<h3>@Localizer["lblDeleteConfirmation"]</h3>

<div>
    <h4>@Localizer["lblSubHeading"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Localizer["lblDay"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Day)</dd>

        <dt class="col-sm-2">@Localizer["lblDoctor"]</dt>
        <dd class="col-sm-10">@Model.DoctorFullName</dd>

        <dt class="col-sm-2">@Localizer["lblWorkingHours"]</dt>
        <dd class="col-sm-10">@Model.WorkingHours</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["lblDelete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@Localizer["lblBackToList"]</a>
    </form>
</div>