@model med_service.ViewModels.ScheduleViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblDetailsTitle"];
}
<h1>@Localizer["lblDetailsTitle"]</h1>

<div>
    <h4>@Localizer["lblSchedule"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["lblDay"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class="col-sm-2">
            @Localizer["lblDoctor"]
        </dt>
        <dd class="col-sm-10">
            @Model.DoctorFullName
        </dd>
        <dt class="col-sm-2">
            @Localizer["lblWorkHours"]
        </dt>
        <dd class="col-sm-10">
            @Model.WorkingHours
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">@Localizer["lblEdit"]</a>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["lblBackToList"]</a>
</div>
