@model IEnumerable<med_service.Models.Schedule>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblIndexTitle"];
}

<h1>@Localizer["lblIndexTitle"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@Localizer["lblCreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["lblDay"]</th>
            <th>@Localizer["lblDoctor"]</th>
            <th>@Localizer["lblWorkingHours"]</th>
            <th>@Localizer["lblActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Day)</td>
                <td>
                    @if (item.Doctor?.User != null)
                    {
                        @($"{item.Doctor.User.LastName} {item.Doctor.User.FirstName}")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Doctor.Id)
                    }
                </td>
                <td>@item.WorkingHours</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">@Localizer["lblEdit"]</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">@Localizer["lblDetails"]</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">@Localizer["lblDelete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
