@model med_service.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["lblDetails"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-4">@Localizer["lblFirstName"]</dt>
                <dd class="col-sm-8">@Model.FirstName</dd>

                <dt class="col-sm-4">@Localizer["lblLastName"]</dt>
                <dd class="col-sm-8">@Model.LastName</dd>

                <dt class="col-sm-4">@Localizer["lblEmail"]</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                <dt class="col-sm-4">@Localizer["lblUsername"]</dt>
                <dd class="col-sm-8">@Model.UserName</dd>

                <dt class="col-sm-4">@Localizer["lblRole"]</dt>
                <dd class="col-sm-8">@Model.Role</dd>
            </dl>
        </div>
    </div>
</div>
