@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model med_service.ViewModels.UserViewModel

@{
    ViewData["Title"] = Localizer["lblDelete"];
}

<h1>@Localizer["lblDelete"]</h1>

<h3>@Localizer["lblConfirmationQuestion"]</h3>
<h4>@Localizer["lblUser"]</h4>
<table class="table">
    <tr>
        <th>@Localizer["lblFirstName"]</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>@Localizer["lblLastName"]</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>@Localizer["lblEmail"]</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>@Localizer["lblUsername"]</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>@Localizer["lblRole"]</th>
        <td>@Model.Role</td>
    </tr>
</table>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">@Localizer["lblDeleteButton"]</button>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["lblCancelButton"]</a>
</form>
