@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<med_service.ViewModels.UserViewModel>

<h1>@Localizer["lblUsers"]</h1>
<p>
    <button class="btn btn-info" onclick="addEntity('Users')">@Localizer["lblCreateNew"]</button>
</p>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="@Localizer["lblSearchText"]" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">@Localizer["lblSearchButton"]</button>
            <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["lblClearButton"]</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
					@Localizer["lblFirstName"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
					@Localizer["lblLastName"]
                </a>
            </th>
            <th>
                @Localizer["lblEmail"]</th>
            <th>@Localizer["lblUsername"]</th>
            <th>@Localizer["lblRole"]</th>
            <th>@Localizer["lblActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.Role</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@Localizer["lblEdit"]</a> *@
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">@Localizer["lblDetails"]</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@Localizer["lblDelete"]</a> *@

                    <button class="btn btn-sm btn-warning" onclick="showEdit('Users', '@item.Id')">@Localizer["lblEdit"]</button>
                    <button class="btn btn-info" onclick="showDetails('Users', '@item.Id')">@Localizer["lblDetails"]</button>
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('Users', '@item.Id')">@Localizer["lblDelete"]</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", (med_service.ViewModels.PaginationViewModel)ViewBag.PaginationInfo)