@model med_service.Models.Patient

@{
    ViewData["Title"] = "Інформація про пацієнта";
}

<h1>Інформація про пацієнта</h1>

<div>
    <h4>Пацієнт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ім'я
        </dt>
        <dd class="col-sm-10">
            @Model.User?.FirstName
        </dd>
        <dt class="col-sm-2">
            Прізвище
        </dt>
        <dd class="col-sm-10">
            @Model.User?.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<div class="mt-3 mb-3 d-flex gap-2">
    <a href="@Url.Action("GetPatientHistory", "Appointments", new { patientId = Model.Id })" class="btn btn-outline-success">
        📅 Ваша історія записів
    </a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
