@model med_service.ViewModels.HospitalViewModel
@inject IViewLocalizer Localizer

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["lblDeleteTitle"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>@Localizer["lblDeleteConfirm"]</p>

            <dl class="row">
                <dt class="col-sm-4">@Localizer["lblName"]</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4">@Localizer["lblAddress"]</dt>
                <dd class="col-sm-8">@Model.Address</dd>

                <dt class="col-sm-4">@Localizer["lblContact"]</dt>
                <dd class="col-sm-8">@Model.Contact</dd>
            </dl>

            <form asp-action="Delete" asp-route-id="@Model.Id">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">@Localizer["lblDelete"]</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["lblCancel"]</button>
            </form>
        </div>
    </div>
</div>
