@model med_service.ViewModels.HospitalViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblDeleteTitle"];
}

<h1>@Localizer["lblDeleteTitle"]</h1>

<h3>@Localizer["lblDeleteConfirmation"]</h3>
<div>
    <h4>@Localizer["lblHospital"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["lblName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["lblAddress"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Localizer["lblContact"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["lblDelete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@Localizer["lblBackToList"]</a>
    </form>
</div>