@model IEnumerable<med_service.ViewModels.HospitalViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblIndexTitle"];
}

<h1>@Localizer["lblIndexTitle"]</h1>

<p>
    <button class="btn btn-primary" onclick="addEntity('Hospitals')">@Localizer["lblCreateNew"]</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["lblName"]</th>
            <th>@Localizer["lblAddress"]</th>
            <th>@Localizer["lblContact"]</th>
            <th>@Localizer["lblActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="showEdit('Hospitals', @item.Id)">@Localizer["lblEdit"]</button>
                    <button class="btn btn-info" onclick="showDetails('Hospitals', @item.Id)">@Localizer["lblDetails"]</button>
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('Hospitals', @item.Id)">@Localizer["lblDelete"]</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).on('submit', '#modalX form', function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if ($(response).find('.validation-summary-errors').length > 0 ||
                        $(response).find('.field-validation-error').length > 0) {
                        $('#modalX').html(response);
                    } else {
                        var modal = bootstrap.Modal.getInstance(document.getElementById('modalX'));
                        modal.hide();
                        window.location.reload();
                    }
                },
                error: function (error) {
                    console.error('error:', error);
                }
            });
        });
    </script>
}
