@model IEnumerable<med_service.ViewModels.HospitalViewModel>


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblIndexTitle"];
}

<h1>@Localizer["lblIndexTitle"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@Localizer["lblCreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["lblName"]</th>
            <th>@Localizer["lblAddress"]</th>
            <th>@Localizer["lblContact"]</th>
            <th>@Localizer["lblActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Contact)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">@Localizer["lblEdit"]</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">@Localizer["lblDetails"]</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">@Localizer["lblDelete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>