@model med_service.Models.Doctor
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DeleteTitle"];
}

<h1>@Localizer["DeleteTitle"]</h1>

<h3>@Localizer["DeleteConfirmation"]</h3>
<div>
    <h4>@Localizer["Doctor"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["User"]
        </dt>
        <dd class="col-sm-10">
            @if (Model.User != null)
            {
                @($"{Model.User.LastName} {Model.User.FirstName}")
            }
            else
            {
                @Html.DisplayFor(model => model.User.Id)
            }
        </dd>
        <dt class="col-sm-2">
            @Localizer["Hospital"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Specialization"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Experience"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperienceYears) @Localizer["Years"]
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
    </form>
</div>
