@model med_service.ViewModels.SpecializationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DeleteSpecialization"];
}

<!-- Модальне вікно -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["DeleteSpecialization"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="fw-bold">@Localizer["AreYouSureDelete"]</p>
            <dl class="row mb-0">
                <dt class="col-sm-4">
                    @Localizer["Name"]
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Localizer["Description"]
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <form asp-action="Delete" method="post" class="d-inline">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>
