@model IEnumerable<med_service.ViewModels.SpecializationViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["SpecializationsList"];
}

<h1>@Localizer["SpecializationsList"]</h1>

<p>
    <button class="btn btn-info" onclick="addEntity('Specializations')">@Localizer["CreateNew"]</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                    <button class="btn btn-sm btn-warning" onclick="showEdit('Specializations', @item.Id)">@Localizer["Edit"]</button>

                    <button class="btn btn-info" onclick="showDetails('Specializations', @item.Id)">@Localizer["Details"]</button>

                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('Specializations', @item.Id)">@Localizer["Delete"]</button>
            </td>
        </tr>
}
    </tbody>
</table>
