@model med_service.ViewModels.DoctorViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["EditTitle"];
}

<!-- Модальное окно -->
@* Views/Doctors/_Edit.cshtml *@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">@Localizer["EditDoctor"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Форма редактирования -->
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3">
                    <label asp-for="UserId" class="control-label">@Localizer["User"]</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                        <option value="">@Localizer["SelectUser"]</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="HospitalId" class="control-label">@Localizer["Hospital"]</label>
                    <select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId">
                        <option value="">@Localizer["SelectHospital"]</option>
                    </select>
                    <span asp-validation-for="HospitalId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SpecializationId" class="control-label">@Localizer["Specialization"]</label>
                    <select asp-for="SpecializationId" class="form-control" asp-items="ViewBag.SpecializationId">
                        <option value="">@Localizer["SelectSpecialization"]</option>
                    </select>
                    <span asp-validation-for="SpecializationId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ExperienceYears" class="control-label">@Localizer["ExperienceYears"]</label>
                    <input asp-for="ExperienceYears" class="form-control" />
                    <span asp-validation-for="ExperienceYears" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
