@model IEnumerable<med_service.Models.Doctor>

@{
    ViewData["Title"] = "Список врачей";
}

<h1>Список врачей</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Больница
            </th>
            <th>
                Специализация
            </th>
            <th>
                Опыт работы
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.User != null)
                    {
                        @($"{item.User.LastName} {item.User.FirstName}")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.User.Id)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExperienceYears) лет
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
